/* Estilos generales para el cuerpo del documento */
body {
  font-family: sans-serif; /* Tipo de fuente sans-serif */
  margin: 0; /* Elimina los márgenes externos */
  padding: 20px; /* Añade relleno interno */
  background-image: url("fondo.jpg"); /* Imagen de fondo */
}

/* Estilos para un formulario con clase 'formulario-bonito' */
.formulario-bonito {
  background: #eceaea; /* Color de fondo para el formulario */
}

/* Estilos para el encabezado */
header {
  text-align: center; /* Centra el texto */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para los encabezados de nivel 1 */
h1 {
  font-size: 24px; /* Tamaño de fuente */
}

/* Estilos para el contenedor principal */
main {
  display: flex; /* Usa el modelo de caja flexible */
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para los campos del formulario */
.campo {
  margin-bottom: 5px; /* Margen inferior */
}

